{% extends 'Bill_2_split/_base.html' %}

{% block Bill_2_split_content %}
{% load static %}

<nav>
    <ul><li><a href="{% url 'Bill_2_split:IndexView' %}">
            <img src="{% static 'Bill_2_split/icons/home_page.png' %}"></a></li>
    <li><a href="{% url 'Bill_2_split:UserView' %}">
            <img src="{% static 'Bill_2_split/icons/user.png' %}"></a></li></ul>

    <ul>
        <li><a href="{% url 'Bill_2_split:ListOfLedgersView' user.pk %}">
            <img src="{% static 'Bill_2_split/icons/ledgers.png' %}"></a></li>
    </ul>

    <ul>
        <li><a href=""><img src="{% static 'Bill_2_split/icons/bw_ledger.png' %}"></a></li>
        <li><a href=""><img src="{% static 'Bill_2_split/icons/bw_glass.png' %}"></a></li>
    </ul>
</nav>

<h1>
    This is list of ledgers for the user {{ object.name }}
</h1>

<ul>
    {% for ledger in ledgers %}

    <li>

        <a href="{% url 'Bill_2_split:LedgerDetailView' ledger.pk user.pk %}"> {{ ledger.name }} </a>

    </li>

    {% endfor %}
</ul>

<nav>
    <ul>
        <li>
            <a href="add/"> Add new ledger</a>
        </li>
    </ul>
</nav>
{% endblock %}