{% extends 'Bill_2_split/_base.html' %}

{% block Bill_2_split_content %}
{% load static %}

<nav id="horni-nav">
    <ul>
    <li><a href="{% url 'Bill_2_split:IndexView' %}">
            <img src="{% static 'Bill_2_split/icons/home_page.png' %}"><span>Homepage</span></a></li>
    <li><a href="{% url 'Bill_2_split:UserView' %}">
            <img src="{% static 'Bill_2_split/icons/user.png' %}"><span>User selection</span></a></li>
    <li><a href="{% url 'Bill_2_split:ListOfLedgersView' user.pk %}">
            <img src="{% static 'Bill_2_split/icons/ledgers.png' %}"><span>Ledgers overview</span></a></li>
    <li><a href="{% url 'Bill_2_split:LedgerDetailView' ledger.pk user.pk %}">
            <img src="{% static 'Bill_2_split/icons/ledger.png' %}"><span>Ledger detail</span></a></li>
    <li><a href="#">
            <img src="{% static 'Bill_2_split/icons/glass.png' %}"><span>You are here</span></a></li>
    </ul>
</nav>
<h1>Edit Payment: {{ payment.name }}</h1>
<p>Cost: {{ payment.cost }}</p>
<p>Description: {{ payment.desc }}</p>

<h2>Ledger: {{ ledger.name }}</h2>
<p>Managed by: {{ user.username }}</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% for relation_form in relation_forms %}
        {{ relation_form.management_form }}
        {{ relation_form.as_p }}
    {% endfor %}

    <button type="submit">Save changes</button>
</form>

{% endblock %}