{% extends 'Bill_2_split/_base.html' %}

{% block Bill_2_split_content %}
<h1>Edit Payment: {{ payment.name }}</h1>
<p>Cost: {{ payment.cost }}</p>
<p>Description: {{ payment.desc }}</p>

<h2>Ledger: {{ ledger.name }}</h2>
<p>Managed by: {{ user.username }}</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Hlavní formulář -->

    {% for relation_form in relation_forms %}
        {{ relation_form.management_form }}  <!-- Skrytá pole pro správu forem -->
        {{ relation_form.as_p }}  <!-- Zobrazení jednotlivých formulářů vztahů -->
    {% endfor %}

    <button type="submit">Save changes</button>
</form>

{% endblock %}